@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>Resend Customer Barcode</h1>
</hgroup>
<div>
    <p>
        Please check your email to view your customer account barcode.
    </p>
</div>
	
