@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<h3>For new feature requests please use:</h3>
<h4><a href="http://ithelp.signalgenetics.net"> Signal Genetics IT Helpdesk</a></h4>
<br />

   
