<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" /></sectionGroup></sectionGroup></configSections>
  <appSettings>
    <add key="wingLeeIdInVendorTable" value="WENGLEE" />
    <add key="wingLeeBarcodeLength" value="52" />
    <add key="wingLeeBarcodeFirstEightDigits" value="01033902" />
    <add key="wingLeeBarcodeItemIdBeginsAtPosition" value="9" />
    <add key="wingLeeBarcodeItemIdEndsAtPosition" value="13" />
    <add key="wingLeePitmanBarcodeWeightBeginsAtPosition" value="23" />
    <add key="wingLeePitmanBarcodeWeightEndsAtPosition" value="26" />

    <add key="pitmanIdInVendorTable" value="PITMAN" />
    <add key="pitmanBarcodeLength" value="41" />
    <add key="pitmanBarcodeFirstSixDigits" value="019088" />
    <add key="pitmanBarcodeItemIdBeginsAtPosition" value="11" />
    <add key="pitmanBarcodeItemIdEndsAtPosition" value="15" />
  </appSettings> 
  <system.web>
    <browserCaps userAgentCacheKeyLength="256" />
    <sessionState mode="InProc" cookieless="false" timeout="120" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </assemblies>
    <buildProviders><add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /></buildProviders></compilation>
    <customErrors mode="Off" />
    <globalization uiCulture="auto" culture="auto" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add connectionString="Server=WLFSERVER;Database=WENGLEE;User ID=sa;Password=DbWlfAdmin!;Max Pool Size=300;" name="MainConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:81/Service1.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="ServiceReference1.Service1Soap" name="Service1Soap" />
    </client>
  </system.serviceModel>
<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true" /></rptBuildProvider></crystalReports></businessObjects></configuration>