<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <appSettings>
    <add key="ApiUri" value="https://localhost:44302/api/"/>
    <add key="AppBuildTag" value="Local"/>
    <add key="TitleTag" value="Local: "/>
    <!-- The title that identifies a build on each page (e.g. Beta, Local, etc.)-->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--These settings load the log4net configuration.-->
    <add key="log4net.Config" value="log.config"/>
    <add key="log4net.Config.Watch" value="True"/>
  </appSettings>
  <!-- Uncomment to debug Log4Net-->
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="iis-local-log.txt" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6"/>
    <authentication mode="Windows"/>
    <identity impersonate="true"/>
    <anonymousIdentification enabled="false"/>
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI"/>
      </namespaces>
    </pages>
    <httpModules/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.5639" newVersion="1.2.0.5639"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- Path Central API -->
        <binding name="NGSServiceSoapProd" maxReceivedMessageSize="2000000000"/>
        <binding name="NGSServiceSoapTest" maxReceivedMessageSize="2000000000">
          <security mode="Transport"/>
        </binding>
        <!-- Xifin Accession Search -->
        <binding name="accessionSearchSoap11">
          <security mode="Transport">
            <transport clientCredentialType="Digest" proxyCredentialType="Digest"/>
          </security>
        </binding>
        <binding name="accessionSearchSoap111"/>
        <binding name="accessionSoap11">
          <security mode="Transport">
            <transport clientCredentialType="Digest" proxyCredentialType="Digest"/>
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <!-- Path Central API -->
        <binding name="NGSServiceSoap12Test">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport maxReceivedMessageSize="2000000000"/>
        </binding>
        <binding name="NGSServiceSoap12Prod">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport maxReceivedMessageSize="2000000000"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.signalqawebservice.technossustest.com/BusinessService/NGS/NGSService.asmx" binding="basicHttpBinding" bindingConfiguration="NGSServiceSoapTest" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoapTest"/>
      <endpoint address="http://www.signalqawebservice.technossustest.com/BusinessService/NGS/NGSService.asmx" binding="customBinding" bindingConfiguration="NGSServiceSoap12Test" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoap12Test"/>
      <endpoint address="https://etelenext.xifin.net/SignalGenetics/APvX_ServiceLayer/BusinessService/NGS/NGSService.asmx" binding="basicHttpBinding" bindingConfiguration="NGSServiceSoapProd" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoapProd"/>
      <endpoint address="https://etelenext.xifin.net/SignalGenetics/APvX_ServiceLayer/BusinessService/NGS/NGSService.asmx" binding="customBinding" bindingConfiguration="NGSServiceSoap12Prod" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoap12Prod"/>
      <endpoint address="https://www.xifin.net/prod/accession/services" binding="basicHttpBinding" bindingConfiguration="accessionSearchSoap11" contract="XifinAccessionSearchService.accessionSearch" name="accessionSearchSoap11"/>
      <endpoint address="https://www.xifin.net/prod/accession/services" binding="basicHttpBinding" bindingConfiguration="accessionSoap11" contract="XifinAccessionService.accession" name="accessionSoap11"/>
    </client>
  </system.serviceModel>
</configuration>