
@{ MasterType VirtualPath="~/InventoryMaster.Master" }

@section HeadContent { 
 
}
@section FeaturedContent { 
<div style="text-align:center; font-size:30px">
		Press the button below to extract your counts. Follow this link below to see how to load the file into CounterPoint.
		<a href="http://counterpointuniversity.com/"> CounterPoint University </a>
	</div>
	<div style="text-align:center">
		<asp:Button ID="btnExtract" runat="server" Text="Extract Count"/>
	</div> 
}
@section MainContent { 
 
}