
@{ Register Src="~/ViewSwitcher.ascx" TagPrefix="friendlyUrls" TagName="ViewSwitcher" }

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @RenderSection("HeadContent", required: false)
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>Mobile Master Page</h1>
        @RenderSection("FeaturedContent", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderSection("MainContent", required: false)
        </section>
        <friendlyUrls:ViewSwitcher runat="server" />
    </div>
    </form>
</body>
</html>
